<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TelSurge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Emgu.Util" publicKeyToken="7281126722ab4438" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.1150" newVersion="2.2.1.1150"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV" publicKeyToken="7281126722ab4438" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.1150" newVersion="2.2.1.1150"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.GPU" publicKeyToken="7281126722ab4438" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.1150" newVersion="2.2.1.1150"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TelSurge.Properties.Settings>
      <setting name="isInControl" serializeAs="String">
        <value>False</value>
      </setting>
    </TelSurge.Properties.Settings>
  </userSettings>
</configuration>
